* {
  font-family: helvetica, sans-serif;
}

.article {
  text-align: center;
}

#articles-page {
  text-align: center;
}

#nav-bar {
  list-style-type: none;
  padding-left: 0;
}

#search-input {
  text-align: center;
}

#login-form, #signup-form {
  text-align: center;
}
